@font-face {
  font-family: "Faible";
  src: url(../fonts/Faible-Regular.woff) format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Faible";
  src: url(../fonts/Faible-RegularItalic.woff) format("woff");
  font-style: italic;
  font-display: swap;
  font-weight: 400;
}

@font-face {
  font-family: "Faible";
  src: url(../fonts/Faible-Bold.woff) format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Faible";
  src: url(../fonts/Faible-BoldItalic.woff) format("woff");
  font-style: italic;
  font-display: swap;
  font-weight: 700;
}

@font-face {
  font-family: "Faible";
  src: url(../fonts/Faible-Medium.woff) format("woff");
  font-style: normal;
  font-display: swap;
  font-weight: 600;
}

:root {
  --font-family: "Faible", sans-serif;
}

* {
  box-sizing: border-box;
  /*border: red solid 1px;*/
}

*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  font-weight: 400;
}

.logoImg {
  max-height: 64px;
  height: 100%;
  width: auto;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.btn-reset {
  font-family: var(--font-family);
  font-weight: 400;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 24px 0;
  /*background-color: rgba(0, 0, 0, 0.5);*/
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger {
  --offset-horisontal: 11px;
  --offset-vertical: 14px;
  position: relative;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
  padding: var(--offset-vertical) var(--offset-horisontal);
}

.burger-line {
  position: absolute;
  left: 50%;
  top: var(--offset-vertical);
  background-color: #000;
  width: calc(100% - (var(--offset-horisontal) * 2));
  height: 2px;
  display: inline-block;
  transform: translateX(-50%);
}

.burger-line:nth-child(2) {
  top: calc(var(--offset-vertical) + 6px);
}

.burger-line:nth-child(3) {
  top: calc(var(--offset-vertical) + 12px);
}

.hero {
  padding-top: 189px;
  height: 700px;
  background-image: url("../img/hero-img.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
}

.hero-subtitle {
  font-size: 16px;
  line-height: 21px;
  font-style: italic;
}

.hero-title {
  font-size: 60px;
  line-height: 74px;
  font-weight: 700;
}

.hero-descr {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 100px;
  max-width: 70%;
}

.link {
  color: darkgoldenrod;
  display: inline-flex;
  font-size: 16px;
  line-height: 1;
  font-weight: 700;
  font-style: italic;
  text-decoration: none;
  margin-bottom: 30px;
  padding: 5px 0;
  transition: color 0.5s ease-in-out;
}

.hero-link {
  padding-top: 0;
  color: lightsalmon;
}

.link svg {
  fill: currentColor;
  width: 13px;
  height: 13px;
  transform: translateY(2px);
}

.link span {
  text-indent: 10px;
  border-bottom: 1px dashed currentColor;
}

.link:hover {
  color: tomato;
}

.services {
  margin-bottom: -180px;
  padding: 100px 0;
}

.services-header {
  font-weight: 700;
  font-size: 30px;
  line-height: 5px;
  color: darkgoldenrod;
}

.services-list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 3%;
}

.services-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.services-titles {
  font-weight: 700;
  line-height: 25px;
  font-size: 22px;
  text-transform: uppercase;
  color: darkgoldenrod;
}

.services-descr {
  margin: 0;
  line-height: 22px;
  font-size: 16px;
  font-style: normal;
  font-style: normal;
  margin-bottom: 25px;
}

.service-link {
  margin-top: auto;
  margin-bottom: 0;
}

.get-started {
  position: relative;
  top: 180px;
  background-color: #fbfbfb;
  width: 85%;
  padding: auto 0;
  padding-top: 50px;
  padding-bottom: 25px;
  box-shadow: 40px 65px 100px rgba(0, 0, 0, 0.4);
}

.get-started-title {
  margin: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 30px;
  max-width: 822px;
}

.get-started-link {
  font-size: 16px;
  text-transform: uppercase;
}

.footer {
  padding-top: 200px;
  background: linear-gradient(180deg, rgb(71, 23, 1), rgb(111, 37, 11));
  background-position: center;
  background-size: cover;
  color: #fff;
}

.footer-top {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 65px;
  border-bottom: 1px solid ivory;
}

.footer-contacts:not(:last-child) {
  margin-right: 280px;
}

.footer-contacts-text {
  display: block;
  font-size: 16px;
  line-height: 40px;
  color: #fff;
  margin-bottom: 8px;
}

.footer-contacts-value {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
  line-height: 40px;
}
.footer-middle {
  --grid-gap: 80px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: var(--grid-gap);
  padding: 40px 0;
  border-bottom: 1px solid ivory;
}

.footer-column:last-child {
  position: relative;
}

.footer-column:last-child::before {
  background-color: #ebc089;
  content: "";
  position: absolute;
  top: 0;
  left: calc(-1 * (var(--grid-gap)));
  width: 1px;
  height: 100%;
}

.footer-column-title {
  margin-bottom: 30px;
}

.footer-item {
  margin: 0;
  margin-bottom: 15px;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  text-transform: uppercase;
}

.footer-item-link {
  display: inline-block;
  text-decoration: none;
  color: #ebc089;
}

.footer-column-descr {
  margin: 0;
  font-weight: 500;
  font-style: italic;
  color: #ebc089;
  display: inline-block;
  margin-bottom: 30px;
}

.social-icon {
  display: block;
  width: 33px;
  height: 33px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 18px auto;
  filter: invert(1);
  background-color: rgb(51, 144, 161);
  opacity: 0.7;
}

.social-icon:hover {
  opacity: 1;
}

.social-row {
  display: flex;
  align-items: center;
}

.social-row-item:not(:last-child) {
  margin-right: 15px;
}

.social-icon-fb {
  background-image: url(../img/facebook.png);
}

.social-icon-inst {
  background-image: url(../img/instagram.png);
}

.social-icon-tw {
  background-image: url(../img/twitter.png);
}

.social-icon-lin {
  background-image: url(../img/linkedin.png);
}

.copyright {
  line-height: 20px;
  font-size: 12px;
  color: #ebc089;
}

.footer-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px 0;
}

@media (max-width: 992px) {
  .services-list {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5%;
  }

  .footer-middle {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5%;
  }

  .footer-column:last-child::before {
    display: none;
  }
}

@media (max-width: 768px) {
  .hero-title {
    font-size: 50px;
    line-height: 52px;
  }
}

@media (max-width: 576px) {
  .hero-title {
    font-size: 45px;
    line-height: 47px;
  }
}

@media (x-width: 375px) {
  .services {
    padding: 70px 0;
  }

  .hero-title {
    font-size: 40px;
    line-height: 42px;
  }
  .services-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-middle {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
  }
  ma .logoImg-bottom {
    display: none;
  }
}
